<settings>
  <setting name="antialiasing" value="2"/>
  <setting name="window" valueW="1920" valueH="1080"/>
  <setting name="fullscreen" value="false"/>
  <setting name="fpslimit" value="60"/>
  <setting name="vsync" value="false"/>
  <setting name="logging" value="true"/>
  <setting name="shadows" value="1024"/>
  <setting name="module" value="roc_module_lua.dll"/>
  <setting name="console" value="false"/>
</settings>